/vendor/
/composer.lock
/.local/
/demo/module/
/demo/project/vendor/
/demo/project/public/_resources/
/demo/project/public/assets/
/demo/project/silverstripe-cache/
/demo/project/.env
/tests/docs/node_modules
/.phpunit.cache
.env
/.phpunit.result.cache
